In [9]:
import pandas as pd
data = [['a',22,7.7],['b',23,9.8],['c',24,6.7],['d',25,5.6]]
data
type(data)
df = pd.DataFrame(data,columns =['name','age','height'])
df

TypeError: __init__() got an unexpected keyword argument 'row'

In [3]:
gender =['M','F','F','M']
df['gender']=gender

In [4]:
df['Native']=['CLT','KZD','QLD','VDK']
df

  name  age  height gender Native
0    a   22     7.7      M    CLT
1    b   23     9.8      F    KZD
2    c   24     6.7      F    QLD
3    d   25     5.6      M    VDK

In [5]:
df['is graduate'] = [1,1,1,0]
df

  name  age  height gender Native  is graduate
0    a   22     7.7      M    CLT            1
1    b   23     9.8      F    KZD            1
2    c   24     6.7      F    QLD            1
3    d   25     5.6      M    VDK            0

In [7]:
meanValue = df['age'].mean()
print(meanValue)
modeValue = df['age'].mode()
print(modeValue)
medianValue = df['age'].median()
print("median ",medianValue)
stdValue = df['age'].std()
print(stdValue)

23.5
0    22
1    23
2    24
3    25
dtype: int64
median  23.5
1.2909944487358056